@CHARSET "UTF-8";

th.daily-menu {
	width: 155px;
	height: 72px;
	padding: 4px;
}

td.daily-menu {
	width: 140px;
	padding: 4px;
	color: black;
}

td.daily-menu_mouth {
	font: bold normal 22px Arial, Helvetica, sans-serif;
	color: red;
	background-color: #DAEEF3;
}

th.daily-menu_day {
	font: bold normal 20px Arial, Helvetica, sans-serif;
	color: #400040;
	background-color: #89FFBE;
}

th.daily-menu_dish {
	height: 57px;
	font: bold normal 18px Arial, Helvetica, sans-serif;
	color: #000080;
	background-color: #FDE9D9;
}

td.daily-menu_dish {
	height: 57px;
	font: bold normal 20px Arial, Helvetica, sans-serif;
	color: Black;
	background-color: #F9FDCF;
}

/*td.daily-menu_dessert{ width:155px;              padding:4px; font: bold normal 20px Arial, Helvetica, sans-serif; color:Black;    background-color:#F9FDCF; }
td.daily-menu_ferie  { width:155px; height:57px; padding:4px; font: bold normal 20px Arial, Helvetica, sans-serif; color:Red;      background-color:#F9FDCF; }
td.daily-menu_special{ width:155px; height:57px; padding:4px; font: bold normal 20px Arial, Helvetica, sans-serif; color:DarkGreen;background-color:#F9FDCF; }
td.daily-menu_menus2 { width:155px; height:57px; padding:4px; font: bold normal 18px Arial, Helvetica, sans-serif; color:Black;    background-color:#F9FDCF; }
*/